.menu {
	height:40px;
	width:100%;
	border-bottom:1px solid #000;
	margin-bottom: 5px;
	bottom:5px;
}

.centered {
text-align: right;
margin-left: 50%;
}
.panelgrid-dotted-border{
    border-collapse: separate;
    border-spacing: 2px;
}
