.menu {
	height:40px;
	width:100%;
	border-bottom:1px solid #000;
	margin-bottom: 5px;
	bottom:5px;
}
.menu .dish{
	position:relative;
	float:left;
	padding-left:20xp;
	
	
}
.menu .order{
	position:relative;
	float:left;
	padding-left:20xp;
	
}
